html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #2f2f2f;
  color: white; }

.container {
  display: flex;
  flex-direction: column;
  height: 100%; }

.jumbo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 2rem 0; }

.jumbo-vid-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute; }

.cover {
  background-color: rgba(47, 47, 47, 0.8);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1; }

.jumbo-video {
  position: absolute;
  z-index: 0; }

.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5; }
  .jumbo .jumbo-logo {
    font-size: 3rem; }
  .jumbo .jumbo-title {
    font-size: 6rem; }
  .jumbo p {
    font-size: 1.5rem; }

.lower-jumbo {
  display: flex;
  height: 40%;
  position: relative;
  overflow: hidden;
  border: 1px solid black; }
  .lower-jumbo .shard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0 0.1rem;
    border-top: transparent;
    border-bottom: transparent;
    transition: 0.15s; }
    .lower-jumbo .shard:hover {
      background-color: blue; }

.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35rem;
  background-image: linear-gradient(to left, #2f2f2f, #505050); }
  .about-wrapper .icon img {
    width: 100%;
    height: auto;
    opacity: 0.5; }
  .about-wrapper .text {
    padding: 0 5rem 0 0;
    width: 80%;
    text-align: center; }
    .about-wrapper .text h1 {
      text-align: center;
      padding: 0;
      font-size: 3rem; }
    .about-wrapper .text h2 {
      text-align: center;
      padding: 0 0 1rem 0;
      font-size: 2rem; }
    .about-wrapper .text p {
      padding: 0.5rem 0; }

.hook-wrapper {
  display: flex;
  width: 100%;
  justify-content: center; }
  .hook-wrapper .pannel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35rem;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black; }
    .hook-wrapper .pannel .pannel-header {
      font-size: 1.25rem; }
    .hook-wrapper .pannel h1 {
      padding: 1rem; }
  .hook-wrapper .kill-bar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .hook-wrapper .kill-bar .boss {
      display: flex;
      justify-content: center;
      width: 15%;
      font-size: 2rem; }
    .hook-wrapper .kill-bar .kills-wrapper {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem; }
  .hook-wrapper .key-bar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .hook-wrapper .key-bar .key {
      display: flex;
      justify-content: center;
      width: 25%;
      font-size: 1.25rem; }
    .hook-wrapper .key-bar .key-wrapper {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem; }

.recruitment-wrapper {
  display: flex;
  width: 100%;
  height: 50rem;
  justify-content: center;
  border-top: 1px solid black; }
  .recruitment-wrapper .recruit-pannel {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .recruitment-wrapper .recruit-pannel h1 {
      padding: 1rem; }
  .recruitment-wrapper .recruit-needs {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-top: 1px solid black; }
