// Colors
$black: #2f2f2f;

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: $black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// !! Jumbo
.jumbo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

.jumbo-vid-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.cover {
  background-color: rgba($black, 0.8);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.jumbo-video {
  position: absolute;
  z-index: 0;
}

.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

  .jumbo-logo {
    font-size: 3rem;
  }

  .jumbo-title {
    font-size: 6rem;
  }

  p {
    font-size: 1.5rem;
  }
}

// !! Shards
.lower-jumbo {
  display: flex;
  height: 40%;

  position: relative;
  overflow: hidden;
  border: 1px solid black;

  .shard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0 0.1rem;
    border-top: transparent;
    border-bottom: transparent;

    transition: 0.15s;

    &:hover {
      background-color: blue;
    }
  }
}

// !! About

.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35rem;
  background-image: linear-gradient(to right, transparent, gray);

  .icon img {
    width: 25rem;
    height: auto;
  }

  .text {
    width: 40%;

    p {
      padding: 0.5rem 0;
    }
  }
}

// !! Hooks

.hook-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  .pannel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

// !! Recruitment

.recruitment-wrapper {
  display: flex;
  width: 100%;
  height: 50rem;
  justify-content: center;
  border-top: 1px solid black;

  .recruit-pannel {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding: 1rem;
    }
  }

  .recruit-needs {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
  }
}

// !! Footer

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-top: 1px solid black;
}
